Unit]
Description=UART AVR9 Python Service
After=network.target

[Service]
User=jasminuser
ExecStart=/usr/bin/python3 /home/jasminuser/AudioPlayer/main.py
WorkingDirectory= /home/jasminuser/AudioPlayer
Restart=always

[Install]
WantedBy=multi-user.target
