[Unit]
Description=My Service

[Service]
ExecStart=/usr/bin/node /home/jasminuser/Desktop/Sample_Service/sample.py
Restart=always

[Install]
WantedBy=multi-user.target
