[Unit]
Description=Flask Service Toggle App
After=network.target

[Service]
User=jasminuser
WorkingDirectory=/home/jasminuser/Desktop/toggle_app
ExecStart=/usr/bin/python3 /home/jasminuser/Desktop/toggle_app/app.py
Restart=always

[Install]
WantedBy=multi-user.target
